{% extends 'base.html' %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="w3-bar w3-black">
        <a href="#" class="w3-bar-item w3-button w3-mobile">Todolist</a>
    </div>
</nav>

<div class = "task">
    <h3>Add a new task:</h3>
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            <label for="judul">Task: </label>
            <input id="judul" type="text" name="title" placeholder="write your task" required>
        </div>

        <br>

        <div>
            <label for="deskripsi">Description: </label>
            <input id="deskripsi" type="text" name="description" placeholder="describe your task" required>
        </div>

        <br>

        <input class="btn tambah_task" type="submit" value="Tambah Task Baru">
    </form>
</div>
{% endblock content %}
