{% extends 'base.html' %}

{% block content %}
<h2>Welcome, {{user}}!</h2>
<br>
<div class="wrapper">
<button><a href="{% url 'todolist:create-task' %}">Tambah Task Baru</a></button>
<button><a href="{% url 'todolist:logout_user' %}">Logout</a></button>
</div>
<br>
<br>
<table class="card" style="border:0px solid black;margin-left:auto;margin-right:auto;padding:2px;border-spacing:10px;background-color:white;" border="1px">
    <tr>
    <th style="border: 0px solid rgba(0, 0, 0, 0);background-image: linear-gradient(to bottom right, rgb(183, 252, 240), rgb(255, 255, 174))">Tanggal</th>
    <th style="border: 0px solid rgba(0, 0, 0, 0);background-image: linear-gradient(to bottom right, rgb(183, 252, 240), rgb(255, 255, 174))">Judul</th>
    <th style="border: 0px solid rgba(0, 0, 0, 0);background-image: linear-gradient(to bottom right, rgb(183, 252, 240), rgb(255, 255, 174))">Deskripsi</th>
    <th style="border: 0px solid rgba(0, 0, 0, 0);background-image: linear-gradient(to bottom right, rgb(183, 252, 240), rgb(255, 255, 174))">Status</th>
    <th style="border: 0px solid rgba(0, 0, 0, 0);background-image: linear-gradient(to bottom right, rgb(183, 252, 240), rgb(255, 255, 174))">Edit</th>
    </tr>
    {% for item in list_task %}
        <tr style="background-color:rgb(254, 254, 209);border: 0px solid rgba(0, 0, 0, 0);">
            <th>{{item.date}}</th>
            <th>{{item.title}}</th>
            <th>{{item.description}}</th>
            {% if item.is_finished %}
            <th>Selesai</th>
            {% else %}
            <th>Belum Selesai</th>
            {% endif %}
            {% comment %} post pk dari task yang buttonnya diklik {% endcomment %}
            <th><form method="post" action="status/">
                {% csrf_token %}
                <input type="hidden" name="task_pk" value={{item.pk}}>
                {% if item.is_finished %}
                    <button name="action" value="unfinish">Ubah Status</button>
                {% else %}
                    <button name="action" value="finish">Ubah Status</button>
                {% endif %}
                <input type="hidden" name="task_pk" value={{item.pk}}>
                <button name="action" value="delete">Hapus Task</button>
            </form></th>
            {% comment %} alternatif implementasi dari ka Athal: nge-pass id {% endcomment %}
            <!-- <th><button><a href="{% url 'todolist:ubah_status' item.id %}">Ubah Status</a></button>
            <button><a href="{% url 'todolist:hapus_task' item.id %}">Hapus Task</a></button></th> -->
        </tr>
    {% endfor %}
</table>

{% endblock content %}
